{% extends 'base.html' %}

{% block title %}{{ evento.nome }} - UniTudo{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{{ evento.nome }}</h1>
        <h5 class="text-muted">Organizado por: {{ evento.criador.nome_completo }} da instituição {{ evento.criador.universidade.nome }}</h5>
    </div>
    <div class="card-body">
        <h4><i class="bi bi-calendar-event"></i> Data e Hora</h4>
        <p>{{ evento.data_hora|date:"d/m/Y, H:i" }}</p>

        <hr>

        <h4><i class="bi bi-geo-alt-fill"></i> Local</h4>
        <p>{{ evento.local }}</p>

        <hr>

        <h4><i class="bi bi-card-text"></i> Descrição</h4>
        <p>{{ evento.descricao|linebreaksbr }}</p>

        {% if evento.aberto_para_externos %}
            <div class="alert alert-info" role="alert">
                Este evento é aberto para estudantes de outras universidades.
            </div>
        {% endif %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a href="{% url 'eventos_lista' %}" class="btn btn-secondary">Voltar para a lista</a>

        {% if user == evento.criador %}
        <div>
            <a href="{% url 'eventos_editar' evento.pk %}" class="btn btn-outline-secondary">Editar</a>
            <a href="{% url 'eventos_excluir' evento.pk %}" class="btn btn-outline-danger">Excluir Evento</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
