{% extends 'base.html' %}
{% block title %}Definir Nova Senha - UniTudo{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">Defina sua Nova Senha</h3>
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}

                            <!-- Bloco para a primeira senha -->
                            <div class="form-floating mb-3">
                                {{ form.new_password1 }}
                                <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
                            </div>
                            <!-- Ajuda da senha -->
                            <div class="form-text mb-3">
                                {{ form.new_password1.help_text|safe }}
                            </div>

                            <!-- Bloco para a confirmação da senha -->
                            <div class="form-floating mb-3">
                                {{ form.new_password2 }}
                                <label for="{{ form.new_password2.id_for_label }}">Confirmação da nova senha</label>
                            </div>

                            <button type="submit" class="w-100 btn btn-lg btn-primary">Salvar Nova Senha</button>
                        </form>
                {% else %}
                    <p class="alert alert-danger">
                        O link para redefinição de senha é inválido, provavelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
